/* Aquí puedes agregar tu CSS personalizado */
.tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .tarjeta h3 {
    margin: 0;
    font-size: 18px;
  }

  .tarjeta p {
    margin: 0;
  }

  .accion-tarjeta {
    margin-top: 10px;
  }

  .editar-tarjeta, .eliminar-tarjeta {
    cursor: pointer;
    color: blue;
    margin-right: 10px;
  }