body {
  font-family: 'Mitr', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 4px;
  margin: 20px auto;
  margin-top: 20px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 2.5rem;
  text-align: center;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0em;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: .40rem;
  margin-bottom: .40rem;
  padding: 1rem 2rem;
  border: none;
  width: 95%;
  height: 60px;
  border-radius: 1.3rem;
  background-color: #73cfb2;
  color: #333;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #2eb096;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

@media (max-width: 1081px) {
  button {
    font-size: 4.5rem;
    height: 120px;
  }

  p {
    font-size: 4REM;
  }

  h1 {
    font-size: 5rem;
  }


  div {
    max-width: 95%;

  }
}

@media (max-width: 767px) {
  button {
    font-size: 3.5rem;
    height: 95px;
  }

  p {
    font-size: 2.9REM;
  }

  h1 {
    font-size: 4rem;
  }

  div {
    max-width: 90%;
  }
}


@media (max-width: 407px) {
  button {
    font-size: 2.5rem;
    width: 90%;
    height: 70px;
  }
  p {
    font-size: 2.5REM;
  }

  h1 {
    font-size: 3rem;
  }

}
  
  
  
  
