:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --rojo: #ff0000;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Barrio", system-ui;
  background-color: var(--blanco);
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

/* Main */
main {
  padding: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Cambiado 4fr a 1fr */
  grid-gap: 1rem;
}

/* Estilo para el enlace que se verá como un botón */
.my-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d0ff00;
  color: #ff0000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.button-vermenu {
  text-align: center;
}

/* Estilo para adaptar a cualquier pantalla */
@media screen and (max-width: 768px) {
  .my-button {
    width: 50%;
  }
}

@media screen and (max-width: 345px) {
  .my-button {
    width: 100%;
  }
}

.product {
  background-color: var(--blanco);
  padding: 1.5rem;
  border-radius: 5px;
  text-align: center;
}

.product img {
  max-width: 60%;
  height: auto; /* Cambiado a auto */
  border-radius: 50%; /* Cambiado para mejorar la compatibilidad */
}

.product h3 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.product p {
  font-size: 1.8rem;
  color: var(--gris);
  margin-bottom: 1rem;
}

.product .quantity {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.product form {
  margin-top: 1rem;
}

.product form input[type="image"] {
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: var(--oscuro);
  padding: 1rem;
  color: var(--blanco);
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .product h3 {
    font-size: 1.8rem;
  }

  .product p {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Cambiado a 1fr */
  }

  .product {
    padding: 1rem;
  }

  .product h3 {
    font-size: 1.6rem;
  }

  .product p {
    font-size: 1.4rem;
  }

  .product .quantity {
    width: 40px;
    padding: 4px;
  }

  .product form input[type="image"] {
    max-width: 80%;
  }
}

@media (max-width: 474px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Cambiado a 1fr */
  }
}

@media (max-width: 256px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Cambiado a 1fr */
  }
}
