body {
  font-family: 'Mitr', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 4px;
  margin: 20px auto;
  margin-top: 20px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.btnMain {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0em;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: .40rem;
  margin-bottom: .40rem;
  padding: 1rem 2rem;
  border: none;
  width: 95%;
  height: 100px;
  border-radius: 1.3rem;

  color: #333;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#btnCobrar {
  background-color: #e27b7b;
  color: #ffffff;
}

#btnPagar {
  background-color: rgb(33, 100, 155);
  color: #ffffff;
}

.btnMain:hover {
  background-color: #2eb096;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btnMain:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

input[type="number"],
input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-left: 20px;
}

input[type="number"] {
  font-size: 3rem;
  text-align: center;
}

input[type="text"] {
  font-size: 1.5rem;
  height: 50px;
  margin-bottom: .5rem;
}



.container {
  display: block;
  justify-content: center;
  align-items: center;
}

.navBefore,
.navBefore:hover {
  justify-content: right;
  width: 20px;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
}

.cs {
  font-size: .9rem;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 40%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

/* Estilos para el menú de navegación */
.menu {
  position: relative;
  display: flex;
}

.menu-btn {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.menu-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  list-style: none;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-list li {
  padding: 10px;
}

.menu-list li:hover {
  background-color: transparent;
}

.menu-list .option {
  background-color: rgb(31, 77, 163);

}

.option {
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  color: #fff;
}

.cerrarSesion {
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
}

.menu-list .cerrarSesion {
  background-color: #f44336;
  color: #fff;
}

.menu-list .cerrarSesion:hover {
  background-color: #d32f2f;
}

.option,
.cerrarSesion {
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .menu-list {
    top: 100%;
    bottom: 100%;
    background-color: rgb(32, 32, 187);
  }

}


@media (max-width: 354px) {
  .btnMain {
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    height: 100px;
  }

  .cs {
    font-size: .7rem;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 70px;
  }
}

@media (max-width: 361px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerTres {
    display: flex;
  }

  .cs {
    width: 50% auto;
  }

  .btnMain {
    font-size: .2rem;
    border-radius: 1rem;
    width: 90%;
    height: 55px;
  }
}

@media (max-width: 559px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerDos {
    display: block;
    justify-content: center;
    align-items: center;
  }

  div {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 4px;
    margin: 5px auto;
    margin-top: 12px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  input[type="number"],
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    width: 90%;
    font-size: 1.5rem;
    margin-left: auto;
  }

  .btnMain {
    font-size: 1.1rem;
    padding: 0.8rem 1.6rem;
    border-radius: 1.3rem;
    width: 90%;
    height: 60px;
  }

  .cs {
    font-size: .7rem;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
}
